body{
overflow-x: hidden;
overflow-y: scroll;
margin: 0;
padding: 0;
background-size:cover; 
text-decoration: none;
background-color: #000000d3;

 }
 /* Cart Scroll bar css */
 .Cart::-webkit-scrollbar {
    width: 7px;
    height: 10px;
    border-radius: 30px;
    display: flex;
  }
  .Cart::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 20px; 
}
.Cart::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 40px;
    /* margin-right: 5px; */
}
  .Cart::-webkit-scrollbar-thumb {
    height: 30px;
    background: #888888;
    border-radius: 30px;
  }
    ::-webkit-scrollbar {
    width: 10px;
    border-radius: 30px;
    display: flex;
  }
  ::-webkit-scrollbar-track {
    background: #b6b6b6;
  }
 ::-webkit-scrollbar-thumb {
    height: 30px;
    background: #d8d8d8;
    border-radius: 30px;
  }

/* Shopping cart css */
.ShoppingCart{
    display: flex;
    flex-direction: row;
    height: 700px;
    background-color: #888888;
}

.Input{
    margin:3px;
    border-radius: 10px;
}
/* Cubes scroll bar css */
.cubes::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 40px; 

}

.cubes::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 60px;
}
.cubes::-webkit-scrollbar-track {
    margin-right: 30px;
    background: #b6b6b600;
  }
  /* Cart Items css */
.cubes{
    box-shadow: rgba(0, 0, 0, 0) 7px 0px 10px;
    background-color: rgba(71, 71, 71, 0.616);
    display: flex;
    margin-top: 20px;
    margin-right: 40px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 25px;
    overflow-y: scroll;
    max-width: 1300px;
    max-height: 640px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
    width:250px;
    height:250px;
    /* border: solid thin lime; */
     
    perspective: 2000px;
  

}
.cube{
     /* in order: x offset, y offset, blur size, spread size, color */
    box-shadow: 0 0 50px 2px rgba(209, 209, 209, 0.719);
    width:200px;
    height:200px;
    transform-style: preserve-3d;
     transform: translateZ(-350px) rotateX(-6deg) rotateY(5deg); 
    position: relative;
    transition: transform 1s ease-in-out ; 
    animation-name:CubeAnime;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;

}
/* cubes rotating animation */
@keyframes CubeAnime{
    from{
        transform:translateZ(0px) rotateZ(90deg) rotateY(360deg) ;
       
        
    }
   
    50%{
        transform: translateZ(50px) rotateZ(30deg) rotateY(30deg)  ;
        
    }
    to{
        transform: rotate3d(1,1,1,1) translateZ(-300px) ;
    }
}
/* Shaking animation */
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
/* cube hover animation  */
.cube:hover{
    transform: translateZ(0px) rotateZ(0deg) rotateY(360deg)  ;
    
} 
/* cubes sides in another words the box  */
.face{
    width:200px;
    height:200px;
    position: absolute;
}
.back{
    background-color: rgba(255, 255, 255, 0.473);
    transform: rotateY(180deg) translateZ(100px);
}
.top{
    background-color: rgba(255, 255, 255, 0.432);
    transform: rotateX(90deg) translateZ(100px);
}
.bottom{
    background-color: rgba(255, 255, 255, 0.644);
    transform: rotateX(-90deg) translateZ(100px);
}
.left{
    background-color: rgba(255, 255, 255, 0.726);
    transform: rotateY(-90deg) translateZ(100px);
}
.right{
    background-color: rgba(255, 255, 255, 0.651);
    transform: rotateY(90deg) translateZ(100px);
}
.Middle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
 
   
} 

#First{
    background-color: rgba(255, 255, 255, 0.959);
    box-shadow: 0 0 100px 10px rgb(3, 3, 3);
    padding:25px;
    border-radius: 30px;
    transition: transform 3s ease-in-out ; 
    max-height: 100px;
}
#Second{
    padding:25px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 30px;
    transition: transform 3s ease-in-out ; 
    max-width: 200px;
}
.ImgDescription{
    display: flex;
    flex-direction: column;
}
.B{
    margin-top: 10px;
    border-style: none;
    border-radius: 5px;
    padding:5px ;
    font-family: poppins;
    box-shadow: 0 0 140px 15px rgb(12, 160, 91);
}
.B:hover{
    background-color: rgb(0, 214, 150);
    box-shadow: 0 0 140px 40px rgb(12, 160, 91);
}
.Buttons{
    
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#SelectedItem0,#SelectedItem1,#SelectedItem2,#SelectedItem3,#SelectedItem4,#SelectedItem5,#SelectedItem6,#SelectedItem7,#SelectedItem8,#SelectedItem9,#SelectedItem10,#SelectedItem11,#SelectedItem12,#SelectedItem13,#SelectedItem14,#SelectedItem15{
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    width: 90%;
    max-height: 630px;
    background-color: rgb(148, 148, 148);
    z-index: 2;
    /* top: 5%; */
    left: 5%;
    position: absolute;
}
.SelectedItemImage{
    flex: 3;
    padding: 25px;

}
.SelectedItemDiscription{
    flex:7;
    align-items: center;
    justify-content: center;
    padding:25px;
    height: 580px;
    background-color: white;
   border-bottom-right-radius: 40px;
   border-top-right-radius: 40px;
}
.SelectedItemRightSide{
    display: flex;
    flex-direction: column;
}
.SelectedItemBuyButton{
    background-color: rgb(0, 214, 150);
    border-style: none;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    
}
.SelectedItemCartButton{
     background-color: rgb(255, 196, 68);
     border-style: none;
     padding: 10px;
     border-radius: 10px;
     margin: 5px;
     
 }
.SelectedItemBuyButton:hover{
    background-color: rgb(0, 214, 150);
    box-shadow: 0 0 140px 40px rgba(12, 160, 91, 0.616);
    scale: 1.1;
    
}
.SelectedItemBuyButton:active{
    background-color: rgb(94, 243, 198);
}
.SelectedItemCartButton:hover{
    background-color: rgb(255, 196, 68);
    box-shadow: 0 0 140px 40px rgba(255, 196, 68, 0.527);
    scale: 1.1;
    

}
.SelectedItemCartButton:active{
    background-color: rgb(252, 207, 110);
}
.SelectedItemButtons{
    margin-top: 15px;
    display: flex;
    justify-content: left;
    align-items: left;
}

.SButton1{
    border-radius: 40px;
    border-style: none;
}
.Cancel{
    position: absolute;
    right:30px;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0);
    border-style: none;
    color: rgb(0, 0, 0);
    scale: 1.5;
}
.Cancel:hover{
    scale: 2;
    transform-style: flat;
    transform: rotate(360deg);
    transition: transform 1s ease-in-out ; 
    color: rgb(255, 173, 78);
}
#Blur{
display: none;
position: absolute;
top: 0;
z-index: 1;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.411);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(10.8px);
-webkit-backdrop-filter: blur(10.8px);
    
}
#Dark,#Light{
    background-color: rgba(255, 255, 255, 0);
    border-style: none;
}
.darkmode{
    position: absolute;
    top: 0;
    right:0;
}
.fa-cart-shopping,.fa-bag-shopping{
    padding-right: 4px;
}
.fa-cart-shopping:hover,.fa-bag-shopping:hover{
   
    animation: shake 0.5s;
  animation-iteration-count: infinite;
  color:white;
}



.Filters{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 10px;
    
    width:400px;
    
    }
#all,#tents,#bags,#Accesories{
    margin:5px;
    border-radius: 30px;
    border-style: none;
    width:100px;
    color: white;
    padding:5px;
    font-size: smaller;
    font-family:poppins;
    background: rgba(255, 255, 255, 0.226);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
    /* border: 1px solid rgba(255, 255, 255, 0.01); */
}
#all:hover,#tents:hover,#bags:hover,#Accesories:hover{
    color: black;
    background-color: rgba(90, 166, 144,1);
}
#all:active,#tents:active,#bags:active,#Accesories:active{
    color: black;
    background-color: rgba(255, 255, 255, 0.836);
}

#cartMainBtn{
    background-color: rgba(90, 166, 144,1);
   border-style: none;
    color: aliceblue;
    height: 45px;
    width:45px;
    border-radius: 30px;
} 
#cartMainBtn:hover{
    background-color: rgba(0, 0, 0, 0.548);
}
#ShopBag{
    padding:3px;
}


.qty {
    width: 40px;
    height: 25px;
    background-color:none;
    text-align: center;
    border-style:none;
}
.qtyplus {
     width:25px; 
    height:25px;
    border-radius:10px;
    border-style:none;
    transition:scale ease-in-out 0.3s}
.qtyminus { 
    width:25px;
     height:25px;
     border-radius:10px;
     border-style:none;
     transition:scale ease-in-out 0.3s}
.qtyminus:hover{
  scale:1.1;
  background-color:grey;
  color:white;
}
.qtyplus:hover{
  scale:1.1;
  background-color:grey;
  color:white;
}
.qtyplus:active,.qtyminus:active{
  background-color:black;
}
/* CART */
.Cart{
    z-index: 2;
    left: 30%;
    align-items: unset;
    justify-content: space-around;
    position: absolute;
    background: rgb(104, 104, 104);
    overflow-y: scroll;
    overflow-x: visible;
    margin-top: 10px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(16.4px);
    -webkit-backdrop-filter: blur(16.4px);
    display: none;
    width: 500px;
    padding: 60px;
    height: 500px;
    border-radius: 15px;
}

#CancelS{
    display: flex;
    position: absolute;
    top:5px;
    right:5px;
    width: fit-content;
    height: fit-content;
    border-style: none;
    background-color: rgba(240, 248, 255, 0);
}

.CartItems{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap:10px;
    padding-left: 10px;
    padding-right: 10px;
}

.CartItem{
    font-family:poppins;
    font-size: smaller;
    color:rgba(238, 238, 238, 0.767);
    padding:5px;
    background-color: rgba(241, 243, 243, 0.233);
    border-radius: 10px;
    display: flex;
    gap:10px;
    justify-content: center;
    align-items: center;
    transform: background-color ease-in-out 3s;
}
.CartItem:hover{
    background-color: rgba(255, 255, 255, 0.315);
    border-spacing: 3px;
    color:rgba(75, 74, 74, 0.767);
    border:   rgb(255, 135, 35) 5px solid ;
    
}
.CartItem::before{
    border:rgb(104, 104, 104)5px solid  ;
}
.Quantity{
    display:flex;
}
.cartName{
    position: absolute;
    top: 0;
    color: rgb(255, 255, 255);
    font-family: poppins;
    background-color: #ffffff94;
    width: 100px;
    text-align: center;
    padding: 5px;
    font-size:large;
    margin: 5px;
    border-radius: 10px;
}
.MarginBottom{
    display: flex;
    font-family: poppins;
    align-items: flex-end;
    justify-content: right;
    margin-right: 10px;
    color:white;
}
.bin{
    background-color: #47474700;
    border-style: none;
    
}
.fa-trash{
    color:black;
}
.FirstPage{
    background-image: url("/Student1/Images/ocen.webp");
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size:cover;
}
.ShopDescription{
    margin-top:84px;
    display:flex;
    justify-content: space-evenly;
}
.ShopTitle{
    font-family: 'Montez', cursive;
    font-size:60px;
    color: #ffffff;
}
.aboutShop{
    font-family: poppins;
    font-size:15px;
    width:500px;
}

#gotostorebtn{
    text-decoration: none;
    transition: ease-in-out 2s;
    background-color: rgb(253, 184, 54);
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-family: poppins;
    font-size: small;
    animation-name: scale;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    margin-top: 40px;
    width: fit-content;
}
@keyframes scale {
    0% { transform: scale(1); }
    50% { transform: scale(1.2);background-color: rgb(253, 184, 54);color:#ffffff ;}
    100% { transform: scale(1); background-color: rgb(184, 181, 181);color:#ffffff }
  }
.Left{
display: flex;
flex-direction: column;

}
.FilterBtn{
    display: flex;
    flex-direction: column;
}


.Holderdetails{
    display: flex;
    flex-direction: column;
}
.CardDetails{
    display: flex;
    padding: 30px;
}
.Card{
    display: flex;
    flex-direction: column;
    background-color: rgb(211, 211, 211);
    width: fit-content;
    font-family: poppins;
    border-radius: 30px;
    padding:50px;
}
.CheckOut{
    z-index: 4;
    position: absolute;
    left: 10%;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    border-radius: 30px;
    width: fit-content;
    padding: 30px;
}
.INPUTS{
    padding:10px;
    border-radius: 10px;
    border-style: none;
}
.LABEL{
    display: flex;
    align-items: center;
}
.Exp,.CVV,.Card1{
    display: flex;
    justify-content: space-evenly;
    padding-left: 20px;
}
.Card1{
    flex-direction: column;
}
#SUBMIT{
    padding: 10px;
    background-color: rgb(253, 166, 35);
    
    color: white;
    border-radius: 10px;
    border-style: none;
    font-family: poppins;
    font-size: small;
}
#SUBMIT:hover{
    background-color: rgb(21, 155, 110);
}
#SUBMIT:active{
    background-color: rgb(133, 214, 187);
}
.TotalCheckout{
    font-family: poppins;
}
.subtotal{
    position: absolute;
    top:40px;
}
#Dark,#Light,#Blue,#Grey{
    padding:10px;
    border-radius: 20px;
    border-style: none;
    margin: 10px;
  }
  #Dark{
    background-color: #1c2d31;
  }
  #Light{
    background-color: #ffeab8;
  }
  #Blue{
    background-color: #25011a;
  }
  #Grey{
    background-color: #2b2b2b;
  
  }
  .Tp{
    display: flex;
    justify-content: center;
    font-family: poppins;
    align-items: center;
    padding: 0%;
    height: 15px;
  }
  .Modes{
    background-color: rgba(255, 255, 255, 0.63);
    padding:1px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 91px 0px rgba(255,242,255,0.79);
  -moz-box-shadow: 0px 0px 91px 0px rgba(255,242,255,0.79);
  box-shadow: 0px 0px 91px 0px rgba(255,242,255,0.79);
  }
  #CheckOutBtn{
    padding: 10px;
    border-radius: 10px;
    font-family: poppins;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255 135 35);
    border-style: none;
    color: white;
    margin-top: 10px;
    -moz-box-shadow: 0px 0px 91px 0px rgba(255,242,255,0.79);
    box-shadow: 0px 0px 91px 0px rgba(255,242,255,0.29);
    transition: scale 0.3s ease-in-out;
  }
  #CheckOutBtn:hover{
    background-color: rgb(255, 115, 0);
    scale: 1.02;

  }
  #CheckOutBtn:active{
    background-color: rgb(255, 174, 107);

  }
  .Check{
    display: contents;
  }
  .CartTop{
    display:flex;
  }
  .MarginBottom{
    display: flex;
    font-family: poppins;
    left: 40%;
    align-items: flex-end;
    top: 30px;
    position: absolute;
    justify-content: right;
    margin-right: 10px;
    color: white;
  }
  #CancelP{
    position: absolute;
    top: 10px;
    border-radius: 5px;
    left: 20px;
    border-style: none;
    background-image: red;
    background-color: #ffa2a2b3;
}


  .Fa{
    color: white;
  }
  .names{
    display: flex;
    flex-direction: column;
  }

.AvailableQuantity{
    color:#03434e;
    font-family: poppins;
  }
.Success{
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #ffeab8;
    padding: 40px;
    position: absolute;
    font-family: poppins;
    width: fit-content;
    color: #03434e;
    border-radius: 30px;
}
.Price{
    color: red;
}