
*{
    margin: 0;
    padding: 0;
}
.food{
    margin: 80px;
    width: 89%;
    height: 850px;
    background: transparent;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9);
  }
  .title{
    font-family: "PlayfairDisplay-Bold";
    color: rgb(7, 7, 7);
    font-style: italic;
    font-size: 20px;
    text-align: center;
    padding: 20px;
  }
  .images{
    display: flex;
    flex-direction: row;
    padding: px;
    transition: scale ease-in-out 0.5s;
  }
  .image1{
    margin: 20px;
    width: 400px;
    height: 250px;
    
  }
  .image2{
    margin: 20px;
    width: 400px;
    height: 250px;
  }
  .image3{
    margin: 20px;
    width: 400px;
    height: 250px;
  }
  .description{
    padding: 10px;
  }
  p{
    font-size: large;
  }
  .box {
    background-color: rgba(184, 226, 224, 0.7);
    position: absolute;
    left: 8.5%;
    width: 1200px;
    height: 350px;
    padding: 20px;
    border: 5px solid rgb(255, 255, 255,.7);
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.5);
  }
  .image1:hover,.image2:hover,.image3:hover{
    scale: 1.02;
  }
  ::-webkit-scrollbar {
    width: 10px;
    border-radius: 30px;
    display: flex;
  }
  ::-webkit-scrollbar-track {
    background: #5a5555c4;
  }
  ::-webkit-scrollbar-thumb {
    height: 30%;
    background: #a8a8a8;
    border-radius: 30px;
  }